/* Banner */
.banner {
    background: url(banner_img.jpg) no-repeat 0px 0px;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    min-height: 705px;
}
/* End banner */