
/* My scss cart defined */
.cart{
    .right{
        float:right;
    }
    .checkout{
        background: #816263;
        color: white;
        padding: 6px 77px 8px;
        font-size: 19px;
        outline: none;
        border: none;
        font-weight: 400;
        margin-bottom: -3px;
    }
    input[type="submit"] {
    background: #816263;
    color: white;
    padding: 9px 18px 10px;
    font-size: 15px;
    outline: none;
    border: none;
    font-weight: bold;
    margin-bottom: -3px;
    }
    h1{
        text-align:center;
        font-size: 2.1875em;
        text-transform: none;
        letter-spacing: 0;
        color:black;
        margin-bottom:20px;
    }
    .table-custom{
        thead{
            border-bottom:1px solid #e8e9eb;
        }
        width: 100%;
         img {
            width: 95px;
            height: 118px;
        }
        th{
            font-weight: 400;
            padding: 27.5px 0;
            font-size: 17px;
            font-weight: 400;
            font-family: "Work Sans",sans-serif;
            font-style: normal;
            font-weight: 700;
        }
        td{
            padding: 22px 0px;
            border-bottom: 1px solid #e8e9eb;
            font-size: 18px;
            input{
                width: 100%;
                text-align: center;
                width: 60px;
                padding: 10px;
                border:1px solid grey;
            }
        }
    }
}
/* ENd My scss cart defined */