/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
*{
    padding: 0;
    margin:0;
}

.header-right .cart a {
    float: left;
}

.cart.box_1 {
    display:  inline-block;
}


body{
    padding:0;
    margin:0;
    font-family: 'Lato-Regular';
    background:#fff;
}
body a{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
@font-face {
   font-family: 'Lato-Regular';
   src: url(../fonts/Lato-Regular.ttf)format('truetype');
}
@font-face {
   font-family: 'PlayfairDisplay-Regular';
   src: url(../fonts/PlayfairDisplay-Regular.ttf)format('truetype');
}
input[type="button"],input[type="submit"]{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
    margin:0;   
    font-family: 'PlayfairDisplay-Regular';
}   
p{
    margin:0;
}
ul{
    margin:0;
    padding:0;
}
label{
    margin:0;
}
$color-header-top-strip:#816263;
$color-glyphicon-glyphicon:10px;
$color-box_1-h3:white;
$color-box_1-h3:white;
ul.multi-column-dropdown h6 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #816263;
    padding: 0;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #000;
    white-space: normal;
    font-weight: 300;
}

/*--------------------------------------------------------------------------start-header--------------------------------------------------------------------------------------------------------------------------------------*/
/* My scss header-top-left defined */
.header-top-strip{
    background:  $color-header-top-strip;
    padding: 2px 0 8px 0;
    .header-top-left{
        float: left;
        margin-top: 13px;
        ul{
            margin:0;
            paddoing:0;
            list-style:none;
        }
        li{
            display:  inline-block;
            margin-right:  15px;
        }
        a{
            color: white;
            text-decoration:  none;
            font-size:  13px;
        }
        span.glyphicon.glyphicon-user, span.glyphicon.glyphicon-lock {
        font-size: $color-glyphicon-glyphicon;
        vertical-align: initial;
        margin-right: 6px;
        }
    }
    /* End My scss header-left  defined */
        
    /* My scss header-right */
    .header-right{
            float: right;
            padding-top: 13px;
            .cart.box_1 {
            display: inline-block;
            }
            .box_1 h3 {
            color: $color-box_1-h3;
            font-size: 15px;
            }
            .box_1 p{
            float:left;
            margin-left: 10px;
            }
            a.simpleCart_empty {
            font-size: 14px;
            color: #FFC6CF;
            }
    }
    /* End My scss header-right */
}
/*--------------------------------------------------------------------------End start-header----------------------------------------------------------------------------------------------------------------------------------*/

/*  End content-section-starts-here */