.footer {
  padding: 50px 0;
}
ul.f_nav li a {
  list-style-type: none;
  font-size: 14px;
  color: #B3B3B3;
  text-transform: capitalize;
}
ul.f_nav li {
  list-style-type: none;
  margin: 5px 0;
}
h1{
  color:red;
}