<div class="footer">
		<div class="container">
			<div class="footer-top">
				<div class="span_of_4">
					<div class="col-md-3 span1_of_4">
						<h4>Shop</h4>
						<ul class="f_nav">
							<li><a href="#">new arrivals</a></li>
							<li><a href="#">men</a></li>
							<li><a href="#">women</a></li>
							<li><a href="#">accessories</a></li>
							<li><a href="#">kids</a></li>
							<li><a href="#">brands</a></li>
							<li><a href="#">trends</a></li>
							<li><a href="#">sale</a></li>
							<li><a href="#">style videos</a></li>
						</ul>
					</div>
					<div class="col-md-3 span1_of_4">
						<h4>Shop</h4>
						<ul class="f_nav">
							<li><a href="#">new arrivals</a></li>
							<li><a href="#">men</a></li>
							<li><a href="#">women</a></li>
							<li><a href="#">accessories</a></li>
							<li><a href="#">kids</a></li>
							<li><a href="#">brands</a></li>
							<li><a href="#">trends</a></li>
							<li><a href="#">sale</a></li>
							<li><a href="#">style videos</a></li>
						</ul>

					</div>
					<div class="col-md-3 span1_of_4">
						<h4>Shop</h4>
						<ul class="f_nav">
							<li><a href="#">new arrivals</a></li>
							<li><a href="#">men</a></li>
							<li><a href="#">women</a></li>
							<li><a href="#">accessories</a></li>
							<li><a href="#">kids</a></li>
							<li><a href="#">brands</a></li>
							<li><a href="#">trends</a></li>
							<li><a href="#">sale</a></li>
							<li><a href="#">style videos</a></li>
						</ul>
					</div>
					<div class="col-md-3 span1_of_4">
						<h4>Shop</h4>
						<ul class="f_nav">
							<li><a href="#">new arrivals</a></li>
							<li><a href="#">men</a></li>
							<li><a href="#">women</a></li>
							<li><a href="#">accessories</a></li>
							<li><a href="#">kids</a></li>
							<li><a href="#">brands</a></li>
							<li><a href="#">trends</a></li>
							<li><a href="#">sale</a></li>
							<li><a href="#">style videos</a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
{% schema %}
  {
    "name": "My footer",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "eshop"
      }
    ]
  }
{% endschema %}