<div class="footer">
		<div class="container">
			<div class="footer-top">
				<div class="span_of_4">
					 {%- assign footer_linklist = section.settings.footer_linklist -%}
					{% for link in linklists[footer_linklist].links %}  
					{% if link.levels > 0 %}
					<div class="col-md-3 span1_of_4">
						<h4> <a href="{{ link.url }}" >{{ link.title }} </a></h4>
						<ul class="f_nav">
							 {% assign submenu = link.title | handleize %} 
							 {% for childlink in linklists[submenu].links %} 
							<li><a href="#">{{ childlink.title }}</a></li>
							{% endfor %}
						</ul>
					</div>	
					{% endif %}
					{% endfor %}			
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="cards text-center">
			<img src="cards.jpg" alt="">
		</div>
</div>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      }
    ]
  }

{% endschema %}